{{- if and .Values.certManager.enabled (eq .Values.certManager.issuer "selfsigned-issuer") }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: {{ .Release.Namespace }}
spec:
  selfSigned: {}
{{- end }}
